main {
  background-color: $brand-green-light-02;

}

.stats {
  position: relative;
  height: 235px;


  &-container {
    border: 1px solid $brand-green-light;
    background-color: $brand-beige;
    border-radius: 6px;
    position: absolute;
    left: 0;
    right: 0;
    min-height: 470px;
    transform: translateY(-235px);
  }

  .stat {
    text-align: center;

    &-title {
      margin-bottom: 4px;
      font-size: $fs-48;
    }

    &-text {
      font-size: $fs-16;
      color: $brand-green;
    }
  }

  @media screen and (min-width: $breakpoint-md) {
    height: 105px;


    &-container {
      min-height: 210px;
      transform: translateY(-105px);
      grid-template-columns: repeat(3, 1fr);
    }
  }

}