$brand-green: #00856F;
$brand-green-light: #DCE9E2;
$brand-green-light-02: #F7F9F9;
$brand-beige: #FFFAF1;
$brand-green-hover: #00453A;
$gray-headline: #061800;
$gray-paragraph: #384633;
$white: #FFF;

$fw-reg: 400;
$fw-bold: 700;

$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-24: 24px;
$fs-30: 30px;
$fs-34: 34px;
$fs-40: 40px;
$fs-48: 48px;
$fs-52: 52px;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 950px;
$breakpoint-xl: 1200px;